

.content {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 80vh;
    background-color:#fefefe;
}

.content .card {
    height: 80%;
    width: 40%;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 4rem;
}

.login-cadastro {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    background-color: #2b2e4a !important;
    border:#2b2e4a !important;
    margin: 0 5px;
    width: 125px;
    height: 25px;
}

.card-body .row {
    display: flex;
    justify-content: center;
    vertical-align: bottom;
    height: 33.3%;
}

.buttons {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    vertical-align: bottom;
}