#listInstituicao {
	background-color: black;
	color: white;
	height: 90vh;
	width: 25vw;
}

#listInstituicao .ong-list {
	list-style: none;
	padding: 0;
	background: var(--primary-color);
}

#listInstituicao .ong-list .ong-list-item {
	display: flex;
	font-size: 1.2rem;
	margin: 0;
	height: 8vh;
	border-radius: 1.5rem;
	margin-top: 0.2rem;
	border-bottom: 0.2vh solid var(--secondary-color);
	border-left: 0.2vh solid var(--secondary-color);
	border-right: 0.4vh solid var(--secondary-color);
	align-items: center;
	justify-content: center;
}

#listInstituicao .ong-list .ong-list-item:first-child {
	border-top: 0.2vh solid var(--secondary-color);
}

.map {
	min-width: 70vw;
	height: 90vh;
}

.mapPage {
	width: 100%;
	padding: 0 !important;
	margin: 0 !important;
}

.pageInstituicoes {
	display: flex;
	width: 100%;
}

/* DETALHES - ONGS */

.ong-popup-detalhes {
	background-color: white;
	height: 500px;
	width: 400px;
	box-shadow: 0 3px 14px rgb(0 0 0 / 40%);
	border-radius: 5px;
}

.detalhes-container {
	display: flex;
	height: 500px;
}

.detalhes-button {
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: var(--primary-color) !important;
	color: white !important;
	font-size: 1.5rem !important;
	width: 145px;
	height: 35px;
}

.doacao-button {
	background-color: var(--secondary-color) !important;
	color: white !important;
	width: 145px;
	font-size: 1.5rem !important;
	height: 35px;
}

.btn-focus {
	width: fit-content;
	height: fit-content;
}

.leaflet-popup-content-wrapper {
	box-shadow: none;
	background-color: none;
}
.leaflet-popup-tip {
	box-shadow: none;
}
